
html {
  width: 100%;
  height: 100%; 
  margin: 0 auto;
}

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  margin: 0 auto;
  background-image: url("https://source.unsplash.com/9zFa3XvxFx4");    
  background-position: center; 
  background-size: cover; 
  font-family: 'Lato', sans-serif;
}

/* ---------------------------------------------------
******************** NAVBAR STYLE ******************** 
-----------------------------------------------------*/
.navbar {
  font-size: 14px;
  background-color: transparent;
  padding-bottom: 10px;
}

/* a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
} */
.main-nav {
  list-style-type: none;
  display: none;
}

#logo {
  display: inline-block;
  font-size: 38px;
  font-weight: 700;
  margin-top: 10px;
  margin-left: 20px; 
  font-family: 'Libre Baskerville', serif;
  color: rgba(255, 255, 255);
  letter-spacing: .5px;
}

.nav-links,
#logo {
  text-decoration: none;
  /* color: rgba(255, 255, 255, 0.7); */
  color: #ffffff;
 
  
}


.main-nav li {
  text-align: center;
  margin: 15px auto ; 
}

/* .dropdown {
   position: relative;
}

#dropdown-content {
  display: none;
  position: absolute;
  min-width: 140px;
  background-color: #f9f9f9; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#dropdown-content a {
  float: none;
  color:#ffffff;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
  position: relative;
}

.dropdown:hover #dropdown-content {
  display: block;
} */


.btnGetStarted {
  display: flex;
  justify-content: center;
}
#btnGetStarted {
  font-size: 18px;
  height: 35px;
  width: 130px;
  color: #ffffff; 
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;  
}

#btnGetStarted:hover {
  background: #ffffff;
  color: black;
  margin-top: 3px;
  will-change: opacity,transform;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;

}
.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer; 
  /* color: rgba(255,255,255,0.8); */
  color: #ffffff;
  font-size: 24px;
}

.active {
  display: block;
} 




@media screen and (min-width: 768px) {
  .navbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 100px;
      align-items: center;
  }

  .main-nav {
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
  }

  .main-nav li {
      margin: 0;

  }

  .nav-links {
      margin-left: 40px;
  }

  .logo {
      margin-top: 0;
  }
  
  .navbar-toggle {
      display: none;
  }

  .nav-links:hover {
      /* color: rgba(255, 255, 255, 1); */
      color: blue;
  }
 
}

.title-tag-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 100%; 
  height: 100%;
  margin-top: 130px ;
}

.text {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
 
}


footer {
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
  padding-right: 20px;
  padding-top:7px;
  background: transparent;
  height: 30px;
  position: fixed;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  text-align: center;
  bottom: 0;
}
footer span {
  width: 10px;
  margin-right: 5px;
  padding-top:1px;
}
