html{
  width: 100%;
  height: 100%; 
}

body{
  width: 100%;
  height: 100%;
  /* background-image: url("https://source.unsplash.com/WmnsGyaFnCQ");  */
  /* background-image: url("https://source.unsplash.com/PdfRE-xB--s");  */
  /* background-image: url("https://source.unsplash.com/J4kK8b9Fgj8");  */
  /*background-image: url("https://source.unsplash.com/W-UY4H3dTMw");*/

  /*background-repeat: no-repeat;
  font-family: 'Josefin Sans', sans-serif; */
  font-family: 'Libre Baskerville', serif;
  margin: 0;
}

* {
  box-sizing: border-box;
  /*padding: 0;
  margin: 0;*/
}

/* ---------------------------------------------------
******************** NAVBAR STYLE ******************** 
-----------------------------------------------------*/
#topPage{
  background-image: url("https://source.unsplash.com/ZVThOAHgt1c");
  background-position: center; 
  background-size: cover;
  height: 100vh;
  position: relative;
}

.navbar {
  font-size: 18px;
  width: 100%;
  /*position: fixed;*/
  top: 0;
  z-index: 1;
}

.main-nav {
  list-style-type: none;
  display: none;
  align-items: center;
  font-family: 'Josefin Sans'
}

.main-nav a:hover{
  transition-duration: 0.5s;
}

.logo {
  display: inline-block;
  font-size: 38px;
  font-weight: 400;
  margin-top: 10px;
  margin-left: 30px;
  font-family: 'Libre Baskerville';
  text-decoration: none;
  color: #214DBF;
}

.logo:hover{
  transition-duration: 0.5s;
}

.nav-links{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}


.main-nav li {
  text-align: center;
  margin: 15px auto; 
}


#getStarted{
  text-align: center;
}

#getStarted a{
  /*font-family: 'Josefin Sans';*/
  font-family: 'Mukta Mahee';
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 28px;
  letter-spacing: 2px;
  padding-bottom: 5px;

  background-image: linear-gradient(#FFF,#FFF);
  background-size: 0 1px, auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  transition: all .3s ease-out;
}

#getStarted a:hover{
  color: #FFF;
  background-size: 100% 1px, auto;
}


.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer; 
  color: rgba(255,255,255,0.8);
  font-size: 24px;
}

.active {
  display: block;
} 



/* ---------------------------------------------------
******************** MAIN BODY STYLE ******************** 
-----------------------------------------------------*/
.title-tag-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 100%; 
  height: 100%;
  margin-top: 90px ;
}

.text{
  color: #768ECB;
  /*text-shadow: -1px 0 #3c67d3, 0 1px #3c67d3, 1px 0 #3c67d3, 0 -1px #3c67d3;*/
  font-size: 30px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  /*font-family: 'Cutive Mono';*/
  font-family: 'Mukta Mahee';
  letter-spacing: 5px;
  /*margin: auto 100px; */
}

.welcome{
  text-align: center;
  padding: 80px 0;
  color: #BEBEBE;
}

.welcome h1{
  font-family: 'Mukta Mahee';
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 2px;
}

.welcome span{
  color: #214DBF;
  font-family: 'Libre Baskerville';
  letter-spacing: 0;
}

#featureGuide{
  display: flex;
  flex-wrap: nowrap;
  /*height: 50vh;*/
  height: 60%;
}

.feature-guide{
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.feature-guide h2{
  font-family: 'Mukta Mahee';
  font-size: 25px;
  color: #214DBF;
  font-weight: 200;
  letter-spacing: 2px; 
}

#feature{
/*  background-color: #1a42db;
*/  background-color: #E5E9F5;
  margin-left: 20px;
  margin-right: 5px;
  position: relative;
  border-radius: 100px 3px 100px 3px;
}

#feature h2{
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 20px;
}

#guide{
/*background-color: #1a42db;*/  
  background-color: #E5E9F5;
  margin-right: 20px;
  margin-left: 5px;
  position: relative;
  border-radius: 3px 100px 3px 100px;
}

#guide h2{
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 10px;
  margin-left: 20px;
}

.feature-guide-text{
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us{
  text-align: center;
  padding: 80px 0;
  color: #BEBEBE;
}

.about-us h1{
  font-family: 'Mukta Mahee';
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 2px;
}

.about-us span{
  color: #214DBF;
}


#aboutContact{
  display: flex;
  flex-wrap: nowrap;
  /*height: 50vh;*/
  height: 40%;
  margin-bottom: 30px;
}

.about-contact{
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.about-contact p{
  font-family: 'Mukta Mahee';
  font-size: 25px;
  color: #214DBF;
  font-weight: 200;
  letter-spacing: 2px; 
}

#aboutPisces{
/*background-color: #1a42db;*/  
  /*background-color: #E5E9F5;
  margin-left: 20px;
  margin-right: 5px;
  position: relative;
  border-radius: 100px 3px 3px 100px;*/

  display: flex;
  justify-content: center;
  align-items: center;
}

#aboutPisces p{
  font-size: 20px;
}


/*#contact{ 
  background-color: #E5E9F5;
  margin-right: 20px;
  margin-left: 5px;
  position: relative;
  border-radius: 3px 100px 100px 3px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#contact p{
  font-size: 20px;
}*/



/* ---------------------------------------------------
******************** FOOTER STYLE ******************** 
-----------------------------------------------------*/

footer {
  width: 100%;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
  padding-right: 20px;
  padding-top:7px;
  /*background: linear-gradient(260deg, #2376ae 0%, #c16ecf   100%);*/
  height: 30px;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  text-align: center;
  bottom: 0;
  position: absolute;
  bottom: 0;
  right: 0;
}
footer span {
  width: 10px;
  margin-right: 5px;
  padding-top:1px;
}

@media screen and (min-width: 768px) {
  .navbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 90px;
      align-items: center;
  }

  .main-nav {
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
  }

  .main-nav li {
      margin: 0;
  }

  .nav-links {
      margin-left: 40px;
  }

  .logo {
      margin-top: 0;
  }

  .navbar-toggle {
      display: none;
  }

  .logo:hover,
  .nav-links:hover {
      color: rgba(255, 255, 255, 1);
  }

}

@media screen and (max-width: 768px){

  .text{
  font-size: 25px;
  line-height: 50px;
  }

  .welcome h1{
    font-size: 33px;
  }

  #featureGuide{
    flex-direction: column;
    height: 70%;
  }

  .feature-guide h2{
    font-size: 20px;
  }

  #feature{
    margin: 0 10px;
    margin-bottom: 5px;
    font-size: 
  }

  #guide{
    margin: 0 10px;
    margin-top: 5px;
  }

  .about-us h1{
    font-size: 33px;
  }

  #aboutContact{
    flex-direction: column;
    height: 50%;
  }

  .about-contact p{
    font-size: 20px;
  }

  #aboutPisces{
    margin: 0 10px;
    margin-bottom: 5px;
    font-size:
  }

  #contact{
    margin: 0 10px;
    margin-top: 5px;
  }
}





