.ql-editor {
    font-family:'Times New Roman', Times, serif;
    background-color:black;
    min-height: 402px;
}

.ql-editor p {
    font-family: 'Charmonman';
    color: white;
    font-size: 3em;
    max-width: 78ch;
}
.ql-snow .ql-editor h1{
    color:rgb(205, 72, 218);
    font-family: 'Lemon';
    font-size:6em;
    max-width: 78ch;
}
.ql-snow .ql-editor h2{
    color:rgb(205, 72, 218);
    font-family: 'Lemon';
    font-size:3em;
    max-width: 78ch;
}
.ql-snow .ql-editor h3{
    color:black;
    font-family: "Lemon";
    font-size:2em;
    max-width: 78ch;
}
