
/*************************/
/*** STYLESHEET EDITOR ***/
/*************************/


/*** EDITOR RESPONSIVE LAYOUT ***/

#nav-bar {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none;
}
.flex-container {
  display: flex;            
  flex-wrap: wrap;
  height: 100vh;
  margin: 0 0 22px 0;      
  padding: 0;
  overflow: hidden;
}
.container-navfield {
  flex-basis: 12%;
  min-width: 150px;
  padding: 0 22px;
  outline: none;
}


/* DISPLAY CONTAINER */
.note-fav-container {
	  flex-basis: auto;
    padding: 0;
    margin: 0;
}

/* Moitrayee edit */

.data-container-hd {
    /* display: none; */
    width: 150px;
    background-color: rgb(158, 159, 206);
}

.data-container-hd .header-notes {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 40px;
  padding-bottom:40px;
  padding-left: 10px;
  font-size: 1.5em;
  border-bottom: 1px solid rgb(209, 201, 201);
  font-weight: 600;
  color: rgb(255,255,255);
  text-shadow: 1px 1px 0.5px rgb(44,44,44);
}

.note-item{
  /* font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 70px;
  border-bottom: 1px solid rgb(209, 201, 201);
  padding-left: 10px;
  padding-top: 10px;  */
  padding: 10px 8px 18px 8px;
  height: 80px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-bottom: 1px solid rgb(209, 201, 201);
}

.note-item .note-title{
  color: rgb(255,255,255);
  text-shadow: 0.5px 0.5px 0 rgb(57,57,57);
  padding-left: 10px;
  padding-top: 5px;
  margin-bottom: 8px;
  height: 20px;
  font-size: 1em; 
  font-weight: 600;
  cursor: pointer;
}
.note-item .note-content{
  padding-left: 10px;
  padding-top:2px;
  height:25px;
  font-size:0.8em;
}
.note-item .note-created{
  padding-left: 10px;
  padding-top: 10px;
  height:10px;
  font-size:0.6em;
}


#noteTitle, #noteSearch {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 40px;  
  padding-left: 20px;
  padding-top: 10px; 
  padding-bottom: 10px;
  padding: 8px 20px;
  font-size: 1.4em;
  border: 0px;
}
#noteTitle {
  width: 48%;
}
#noteSearch {
  border-left: 1px solid rgb(187,187,187);
  width: 30%;
}
#noteTitle:active, #noteSearch:active {
  outline: none;
}

#noteTitle:focus, #noteSearch:focus {
  outline: none;
}

/* Moitrayee edit */

.note-field,
.favorit-field {
  /* border: 1px solid rgb(232, 232, 232); */
  padding: 0;
  margin: 0;
}
.note-field-hd,
 .favorite-field-hd {
 display: hidden;
}
.container-workfield {
  flex-basis: 68%;
  flex-grow: 1;
}          
  
/*** WORK FIELD ***/
       
.ql-toolbar, .ql-snow {
  background: rgb(255,255,255);            
  padding: 10px 20px !important;
  border: none !important;
  border-top: 1px solid rgb(187,187,187) !important;
  /*border-bottom: 1px solid rgb(187,187,187) !important;*/
}

.container-workfield {
  border: 1px solid rgb(187,187,187);  
}
#editor {
  background-color: rgb(252, 252, 252);
}


/*** NAV-BAR FIELD ***/

#nav-bar {         
  background-color: rgb(134, 135, 189);
}

#logo {
  font-family: 'Libre Baskerville', serif;
  font-size: 38px;
  color: rgba(255, 255, 255, 0.75);
}

.nav-ul {
  padding: 0;
}

.nav-ul li {
  margin-bottom: 30px;
  list-style-type: none;
}

.nav-ul li a {
  font-size: 1.2em;
  font-weight: 600;
  color: rgb(175, 23, 175);
  color: rgb(252,252,252);
  padding: 10px;
  text-decoration: none;
}

.nav-ul li a:hover {
  opacity: 0.9;
}

.fa-bars {
  color: rgb(255,255,255);
}        
.menu-toggler {
  display: none;
}

/* #div_btnSaveDelta {
  display: flex;
  justify-content: flex-end;
}
#btnSaveDelta {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
} */

@media screen and (max-width: 768px) {

  .flex-container {
    height: auto;            
  }
  #nav-bar {
    flex-grow: 1;
    flex-basis: 100%;
    height: auto;               
    overflow: hidden;
  }
  .container-workfield {
    flex-grow: 1;
    flex-basis: 100%;
    height: 100%;
    margin: 0;
  }
  #editor {
    min-height: 344px;
  }
  #logo {
    display: none;
  }
  .menu-collapse {
    display: none;
  }
  .menu-burger {
    display: flex;
    justify-content: center;
  }
  .menu-toggler {
    display: block;
    background-color: transparent;
    cursor: pointer;
    padding: 0.2em 0.5em;
    font-size: 2em;
    line-height: 1;
    border: 1px solid transparent;
  }
  .nav-ul li {
    text-align: center;
  }

  .note-fav-container {
    flex-basis: 100%;
    flex-wrap: wrap;
  }
  .note-fav-container .header-notes {
    text-align: center;
  }

}
 
  