/*** STYLESHEET BUSINESS TEMPLATE ***/

.ql-editor {
    font-family: 'Courier New', Courier, monospace;
    line-height: 2em;
    background-color: rgb(242,242,242);
    padding: 36px 98px;    
}

.ql-editor h1, .ql-editor h2, .ql-editor h3, .ql-editor h4 {
    color: rgb(77,77,77);
    box-shadow: 1px 1px 0.5 rgb(102,102,102);
} 
.ql-editor p {
    font-size: 1.1em;
}
.ql-editor img {        
    display: block;
    max-width:312px;
    max-height:164px;
    width: auto;
    height: auto;
    border: 2px solid rgb(147,147,147);
}