
/*************************/
/*** STYLESHEET EDITOR ***/
/*************************/

/*** GENERICS ***/

* {
  outline: none;
}
body {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}

/*** EDITOR RESPONSIVE LAYOUT ***/

#navBar {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none;
  /* background-color: black; */
}
#logoBrand {
  display: none;
}

.flex-container {
  display: flex;            
  flex-wrap: wrap;
  height: 100vh;
  margin: 0 0 22px 0;      
  padding: 0;
  overflow: hidden;
}
.container-navfield {
  flex-basis: 8%;
  min-width: 150px;
  padding: 0 22px;
  outline: none;
}


/* DISPLAY CONTAINER */
.note-fav-container {
    flex-basis: auto;
    min-width: 168px;
    background-color: rgb(32, 32, 32);
    padding: 0;
    margin: 0;
}

/* Moitrayee edit */

.data-container-hd {
    display: none; 
    background-color: rgb(61, 59, 59);
    overflow-x: auto;
}

.note-fav-container .header-notes {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 40px;
  padding-bottom:40px;
  padding-left: 18px;
  font-size: 1.2em;
  border-bottom: 1px solid rgb(209, 201, 201);
  font-weight: 600;
  color: rgb(247, 239, 239);
  text-shadow: 1px 1px 0.5px rgb(44,44,44);
  background-color: rgb(61, 59, 59);
}

/*
.note-item{  
  padding: 12px 8px 18px 8px;
  height: 82px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-bottom: 1px solid rgb(209, 201, 201);
  background-color: rgb(61, 59, 59);
}
.note-item .note-title{
  color: rgb(255,255,255);
  text-shadow: 0.5px 0.5px 0 rgb(57,57,57);
  padding-left: 10px;
  padding-top: 5px;
  margin-bottom: 8px;
  height: 20px;
  font-size: 0.85em; 
  font-weight: 500;
  cursor: pointer;
}
.note-item .note-content{
  box-sizing: border-box;
  padding-left: 10px;
  padding-top:2px;
  height:25px;
  font-size:0.75em;
  overflow: hidden;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.75);
}
.note-item .note-created{
  padding-left: 10px;
  padding-top: 10px;
  height:10px;
  font-size:0.70em;
  color: rgba(255, 255, 255, 0.75);
}
*/

/* New dynamic class */
.note-field-light {
  padding: 12px 8px 18px 8px;
  height: 82px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-bottom: 1px solid rgb(209, 201, 201);
  background-color: rgb(252,252,252);
  color: rgb(57,57,57);
}

.note-field > div {
  padding: 12px 8px 18px 8px;
  height: 82px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-bottom: 1px solid rgb(209, 201, 201);
  background-color: rgb(61, 59, 59);
}
.note-field .note-title, .note-field-light .note-title {
  padding-left: 10px;
  padding-top: 5px;
  margin-bottom: 8px;
  height: 20px;
  font-size: 0.85em; 
  font-weight: 500;
  cursor: pointer;
}

.note-field .note-title {
  color: rgb(255,255,255);
  text-shadow: 0.5px 0.5px 0 rgb(57,57,57);  
}
.note-field-light .note-title {
  color: rgb(57,57,57);  
  font-weight: 600;
}

.note-field .note-content, .note-field-light .note-content{
  box-sizing: border-box;
  padding-left: 10px;
  padding-top:2px;
  height:25px;
  font-size:0.75em;
  overflow: hidden;
  white-space: nowrap;  
}
.note-field .note-content {
  color: rgba(255, 255, 255, 0.75);
}
.note-field-light .note-content {
  color: rgba(57,57,57);
}

.note-field .note-created, .note-field-light .note-created {
  padding-left: 10px;
  padding-top: 10px;
  height:10px;
  font-size:0.70em;  
}
.note-field .note-created {
  color: rgba(255, 255, 255, 0.75);
}
.note-field-light .note-created {
  color: rgba(57,57,57);
  text-shadow: 0.5px 0.5px 0 rgb(242,242,242);  
}

/* TOP TITLE AND SEARCH FIELD */

/*
#noteTitle {
  width: 54%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 14px 18px 18px 18px;
  font-size: 1.35em;
  border: 0px;
}*/

#noteSearchHd {
  display: none;
}

#noteSearch { 
  display: inline;
  padding: 8px;
  margin-left: 18px;
  border: 1px solid rgb(224,224,224);
  border-radius: 8px;
}

.top-title-field {
  margin: 14px 12px 12px 12px;
}
.note-title-top {  
  display: inline;  
  font-size: 1.1em;
  padding: 8px;  
  /*border: 1px solid rgb(224,224,224);    
  border-radius: 8px;*/
}
#noteTitle {
  font-size: 1.1em;
  opacity: 0.9;
  border: none;
  margin-left: 10px;
}

#searchInput, #titleInput {
  padding: 8px 12px;
  border: none;
  width: auto; 
  min-width: 212px;
  font-size: 0.85em;
}

#searchInput:focus {
  outline: none;
  border: none;
}
.fa-search, .fa-file-signature {
  opacity: 0.5;
}

#noteTitle:active, #noteTitle:focus {
  outline: none;  
}

/* Moitrayee edit */

.note-field,
.favorit-field {
  padding: 0;
  margin: 0;
}
/*
.note-field-hd,
 .favorite-field-hd {
 display: hidden;
}
*/
.container-workfield {
  flex-basis: 68%;
  flex-grow: 1;
}          
  
/*** WORK FIELD ***/
       
.ql-toolbar, .ql-snow {
  background: rgb(255,255,255);            
  padding: 10px 20px !important;
  border: none !important;
  border-top: 1px solid rgb(187,187,187) !important;
}
/*
.container-workfield {
  border: 1px solid rgb(187,187,187);  
}*/
#editor {
  background-color: rgb(252, 252, 252);
}


/*** NAV-BAR FIELD ***/

#navBar {         
  background-color:rgb(46, 45, 45);;
}

#logo {
  font-family: 'Libre Baskerville', serif;
  font-size: 32px;
  color: rgba(255, 255, 255, 0.75);
}
#logoShortVer {
  display: none;     
  font-family: 'Libre Baskerville', serif;
  font-size: 48px;
  text-align: center;  
  color: rgba(255, 255, 255, 0.75);
}

.nav-ul a:hover, #logo:hover, #logoShortVer:hover  {
  color: rgba(255,255,255, 0.95); 
  cursor: pointer; 
}
.nav-ul {
  padding: 0;
}
.nav-ul li {
  margin-bottom: 28px;
}
.nav-ul li a {
  font-size: 0.95em;
  letter-spacing: 1px;
  font-weight: 600;
  /*color: rgb(234, 230, 230);*/
  color: rgba(255,255,255, 0.75);
  padding: 10px;
  text-decoration: none;
}
.nav-ul li a:hover {
  /*opacity: 0.9;*/
  padding-left: 8px;
  transition: all 0.3s ease-in-out;
}

/* Hidden nav icons */
#newNoteHd, #myNotesHd, #favNotesHd, #saveNoteHd, #trashNoteHd {
  display: none;
  cursor: pointer;
  font-size: 1.45em;
  text-align: center;
}

.fa-bars {
  color: rgb(255,255,255);
}        
.menu-toggler {
  display: none;
}

/* #div_btnSaveDelta {
  display: flex;
  justify-content: flex-end;
}
#btnSaveDelta {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
} */


/*** MEDIA QUERIES ***/

@media screen and (max-width: 1226px) {
  .container-workfield {
    flex-basis: 58%; 
    flex-grow: 1;
  }  
  #noteSearch {
    display: inline-block;
    padding: 0 4px 0 10px;
    margin: 14px 0 8px 0;
  }

  #searchInput {
    min-width: 200px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1099px) {
  #noteTitle {
    width: 46%;
  }
  #searchInput {
    min-width: 180px;
  }
}

@media screen and (min-width: 769px) and (max-width: 991px) {  
  #noteTitle {
    width: 42%;
  }  
  #searchInput {
    min-width: 160px;
  }
  .container-navfield {
    flex-basis: 7%;
    min-width: 90px;
  }
  #logo {
    display: none;
  }
  #logoShortVer {
    display: block;    
    margin: 2px 0 20px 0;
  }
  #newNote, #myNotes, #favNotes, #saveNote, #trashNote {
    display: none;
  }  
  #newNoteHd, #myNotesHd, #favNotesHd, #saveNoteHd, #trashNoteHd {
    display: block;    
  }  

}

@media screen and (max-width: 768px) {

  .flex-container {
    height: auto;            
  }

  #logoBrand {
    display: block;
    width: 100%;
    background-color:  rgb(46, 45, 45);   
  }
  #logoBrand h1 {
    font-family: 'Libre Baskerville', serif;    
    color: rgba(255, 255, 255, 0.75);
    text-align: center;    
  }

  #navBar {
    flex-grow: 1;
    flex-basis: 100%;
    height: auto;               
    overflow: hidden;
    padding: 8px;
  }
  .container-workfield {
    flex-grow: 1;
    flex-basis: 100%;
    height: 100%;
    margin: 0;
  }
  #editor {
    min-height: 344px;
  }
  #logo {
    display: none;
  }
  .menu-collapse {
    display: none;
  }
  .menu-burger {
    display: flex;
    justify-content: center;
  }
  .menu-toggler {
    display: block;
    background-color: transparent;
    cursor: pointer;
    padding: 0.2em 0.5em;
    font-size: 2em;
    line-height: 1;
    border: 1px solid transparent;
  }
  .nav-ul li {
    text-align: center;
  }

  .note-fav-container {
    /*display: none;*/
    width: 100%;
  }

  .top-title-field {
    padding: 4px;
    margin: 6px;
  }
  .note-title-top {
    display: block;
    font-size: 1.25em;
    padding: 8px 12px;
    border: none;    
  }

  #noteTitle {
    /*display: block;*/
    padding: 4px 6px;    
  }

  #noteSearchHd {
    display: block;    
    display: none;
    padding: 4px;
    margin: 12px 10px 10px 10px;
    border: 1px solid rgb(224,224,224);
    border-radius: 8px;
  }
  #noteSearch {  
    display: none;
  }
  #noteSearch {  
    display: inline-block;
  }
  #searchInput {
    min-width: 120px;;
    max-width: 132px;
    /*padding: 6px 12px;*/
  }
  .fa-search {
    font-size: 0.8em;
  }

  .ql-toolbar.ql-snow .ql-formats {
    padding: 4px 2px !important;
    margin-right: 15px;
  }

  /*
  #noteSearch {  
    display: block;
    padding: 8px;
    margin: 10px;
  }
  */
  .note-fav-container .header-notes {
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  /* FUTURE STYLING FOR MOBILES */
}
 
  