
/*************************/
/*** STYLESHEET EDITOR ***/
/*************************/

/*** GENERICS ***/

* {
  outline: none;
}
body {
  background-color:rgb(46, 45, 45);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}
a {
  color: rgb(54,54,54);
  text-decoration: none;
}

/* Theme selection*/
.earth-theme {
  background-color:rgb(46, 45, 45);
}
.sky-theme {
  background-color:rgb(16, 113, 167);
  color: rgb(247,247,247);
}

/*** EDITOR RESPONSIVE LAYOUT ***/

.flex-container {
  display: flex;   
  background-color: rgb(255,255,255);         
  /*flex-wrap: wrap;*/
  height: 100%;
  width: auto;
  width: -webkit-fill-available;  
  padding: 0;
  margin: 0 0 22px 0;
  border-right: 1px solid rgb(182,182,182);
}

#menuField {
  flex-basis: 5%;
  min-width: 98px; 
  padding: 0 8px; 
  margin: 0;
}

/*** NAV-BAR FIELD ***/

#menufield {
  height: auto;  
}
#navBar {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none;
}
#logoBrand {
  display: none;
}
#logo {
  font-family: 'Libre Baskerville', serif;
  font-size: 32px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.8);
  padding-top: 15px;
}
#logoShortVer {
  font-family: 'Libre Baskerville', serif;
  font-size: 48px;
  font-weight: 700;
  text-align: center;  
  color: rgba(255, 255, 255, 0.8);  
}

.nav-ul a:hover, #logo:hover, #logoShortVer:hover  {
  color: rgba(255,255,255, 0.95); 
  cursor: pointer; 
}
.nav-ul {
  padding: 0;
  margin-top: 0;
  margin-bottom: 32px;
}
.nav-ul li {
  margin-bottom: 20px;
}
.nav-ul li a {
  font-size: 0.9em;
  font-weight: 600;
  color: rgba(255,255,255, 0.8);
  padding: 10px;
  text-decoration: none;
}
.nav-ul li a:hover {
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}

/* Hidden nav icons */
/*
#newNoteHd, #myNotesHd, #favNotesHd, #saveNoteHd, #deleteNoteHd, #printNoteHd, #allTagsHd, #allStatHd {
  display: none;
}
*/
#newNote, #myNotes, #favNotes, #saveNote, #deleteNote, #printNote, #allTags, #allStat, #searchNote {
  cursor: pointer;
  font-size: 1.45em;
  text-align: center;
}
#faSearch {
  opacity: 0.8;
  color: rgba(255,255,255,0.9) !important;
}

.fa-bars {
  color: rgb(254,254,254);
}        
.menu-toggler {
  display: none;
}

/* Radio theme selection */
#themeSelection {
  max-width: 98px;
  font-size: 0.85em;
  font-weight: 600;
  color: rgb(172,172,172);
}
#themeFieldset {  
  padding: 4px 0 4px 8px;  
  border: 2px solid rgb(102,102,102);
}
#themeFieldset legend {  
  padding: 2px 4px;
}
#themeSelection label {
  cursor: pointer;
}
#themeSelection input {
  margin: 6px 2px;  
}

/*** NOTE DISPLAY CONTAINER ***/
.note-container {
  flex-basis: 8%;
  min-width: 226px;
  max-height: 1200px;  
  background-color: rgb(46,45,45); 
  padding: 0;
  margin: 0;
  overflow-x: auto;
  box-shadow: 2px 0px 5px lightgray;
  z-index: 999;
}

.note-list {
  background-color: rgb(61, 59, 59);
}
.note-list-sky {
  color: rgb(247,247,247);
  background-color: rgb(237,237,237);   
}


/*** Search input field ***/
#noteSearch {
  display: inline-block;
  width: 196px;   
  padding: 3px 4px;  
  margin: 10px;    
  border-bottom: 1px solid rgba(58,56,56, 0.596);   
  border-radius: 5px;
}
.note-search {
  background-color: rgb(42, 43, 43);
}
.note-search-sky {
  background-color: rgb(242,243,243);
}

#searchInput {
  max-width: 165px;
  padding: 2px;
  color:rgb(219, 215, 215);
  font-size: 1.3em;
  background: transparent;
  border: none;
}
#searchInput:focus {
  outline: none;
}

.fa-file-signature, .fa-tags {
  opacity: 0.5;
}
#search {
  min-width: 10px;
  text-align: center;  
}
.fa-search {
  color: rgb(255,255,255) !important;
}
.fa-search-sky {
  color: rgb(104,104,104) !important;
}


/***************************************/

#searchHeadField {
  display: inline-block;  
  min-width: 226px;
  height: auto;
  padding-top: 30px;   
}
.search-head {
  background-color: rgb(61, 59, 59); 
}
.search-head-sky {  
  background-color: rgb(36, 133, 197);   
  background-color: rgb(116, 173, 210);   
}

.note-container .header-notes{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 24px;
  font-size: 1.2em;
  border-bottom: 1px solid rgb(158, 156, 156);
  font-weight: 600;
  color: rgb(247,247,247);
  /* text-shadow: 1px 1px 0.5px rgb(44,44,44); */
  background-color: rgb(63, 61, 61);
  text-align: center;  
  box-sizing: border-box;
}
.note-container .header-notes-sky {
  background-color: rgb(116, 173, 210);   
}

.img-notes {
  color: rgb(254,254,254) !important;
  font-size: 1.8em;
  font-weight: 200;
  padding-top: 20px;
  display: block;
}

.icon-tags {
  color: whitesmoke !important;
  font-size: 2em;
  padding-top: 10px;
  display: block;
}

.note-item .note-title i {
  padding-left: 10px;
}
.active-favorite {
  color: #F5CC27 !important;
}

.note-item {
  position: relative;
  min-height: 120px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(63, 61, 61);
  /*color: rgb(247,247,247);*/
  padding: 10px;  
  border-bottom: 1px solid rgba(158, 156, 156, 0.596);    
  box-sizing: border-box;
}
.note-item-sky {
  background-color: rgb(242,242,242); 
}

.note-item .note-title{
  height: 20px;
  font-size: 0.95em; 
  font-weight: 500;  
  color: rgb(247,247,247);
  cursor: pointer;
  text-shadow: 0.5px 0.5px 0 rgb(57,57,57);
  padding-top: 5px;
  margin-bottom: 10px;  
}
.note-item .note-title-sky {
  color: rgb(92,92,92);
  text-shadow: none;
}
.note-item .note-created, .note-item .note-modified {    
  margin-bottom: 8px;
  font-size: 0.70em;
  color: rgb(209, 208, 208);  
}
.note-item .note-created-sky, .note-item .note-modified-sky {
  color: rgb(132,132,132);
}

.note-item .note-content{
  box-sizing: border-box;
  padding: 12px 0;   
  overflow: hidden;
  white-space: nowrap;
  color: rgba(206, 203, 203, 0.514);
  text-overflow: ellipsis;
  max-width: 180px;
}
.note-item .note-content-sky {
  color: rgb(92,92,92);
  box-sizing: border-box;  
  padding-top:50px;   
  overflow: hidden;
  white-space: nowrap;  
  text-overflow: ellipsis;
  max-width: 180px;
}



/*** WORK FIELD ***/

.container-workfield {
  width: auto;
  flex-basis: 68%;
  flex-grow: 1;
}      

/*** Top title/theme field ***/
.note-field-top {  
  font-size: 1em;
  margin: 11px 8px 7px 8px;
}

#noteTitle {
  font-size: 1.1em;
  opacity: 0.9;
  border: none;
  margin-left: 10px;
}
.note-title-top, .note-tags-top, .note-template-top {
  display: inline-block;
  white-space: nowrap;
}
.note-title-top, .note-tags-top {
  padding: 6px 10px;
}
.note-template-top {
  min-width: 150px;
  margin-left: 24px;
}
.note-template-top h4 {
  color: rgb(107,107,107);
  margin-right: 22px;
}

#titleInput ,#tagInput {
  padding: 8px 12px;
  border: none;
  width: auto; 
  min-width: 140px;
  font-size: 0.85em;
}
.fa-search, .fa-file-signature, .fa-tags {
  opacity: 0.6;
}
i .fas .fa-tags {
  padding-top: 5px;  
}

#noteTitle:active, #noteTitle:focus {
  outline: none;  
}
.note-field {
  padding: 0;
  margin: 0;
}

/*** STYLING DROP DOWN THEME SELECTION ***/
.dropdown-btn {
  font-size: 1em;
  padding: 2px;
  margin-left: 8px;
  margin-bottom: 8px;
}
.dropdown-btn .fa-caret-down {
  padding: 2px;
  margin-left: 8px;
}
.dropdown-container .drop {
  font-size: 0.9em;
}

.btn-drop {
  background-color: #3498DB;
  background-color: rgb(92,92,92);
  color: rgb(248,248,248);
  padding: 7px 12px;
  font-size: 0.8em;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
}
.btn-drop:hover, .btn-drop:focus {           
  background-color: rgb(77,77,77); 
  color: rgb(255,255,255);
}
.btn-drop i {
  margin-left: 10px;
  margin-top: 1px
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: rgb(12,12,12);
  font-size: 0.8em;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color:rgb(221,221,221);
}    
.show {
  display: block;
}

/*dropdown menu*/
.dropdown-container {
  display: none;
  padding-left: 8px;
}
.drop {
  display:block;
  text-decoration: none;
  font-size: 0.85em;
  padding:5px;
  color:rgb(255,255,255);
  margin-left:10px;
}

/*** Tag field ***/
#tagInput{
  padding: 5px 12px !important;
  border: 1px solid lightgrey !important;
  border-radius: 8px;
}
.tag-holder {
  display: inline;
  min-width: 20px;
  font-size: 1.1em;
  margin-right: 10px;
}
.icon-tag-remove {
  padding-left: 2px;
  padding-right: 3px;
  margin-top: 5px !important;
  opacity: .3;
}
.note-tags { /*2018/12/04*/
  color: rgb(254,254,254);
  background-color: rgb(61, 59, 59);
  text-shadow: 0.5px 0.5px 0 rgb(57,57,57);
  font-size: 1em;
  font-weight: 500;
  padding: 5px 15px;
  /* border-bottom: 1px solid rgba(158, 154, 154, 0.555); */
  cursor: pointer; 
}
.note-tags:hover { /*2018/12/04*/
  opacity: .5;
  transition: all 0.3s ease-in-out;
}
span.tag-container { /*2018/12/04*/
  border: 1px solid;
  border-radius: 3px;
  margin: 2px;
  padding-left: 3px;
  font-size: 0.8em;
  background-color: whitesmoke;
}


/*** Toolbar ***/
.ql-font{
  width: 154px !important;
  padding-right:15px;
  padding-top:2px;
  margin: 8px 10px;
}
.ql-toolbar.ql-snow {
  border-right: none !important;
}  

.toolbar-print-icon {
  font-size: 1.15em;
  color: rgb(59,59,59);
  margin-left: 4px;
  cursor: pointer;
}
.toolbar-print-icon:hover {
  opacity: 0.8;
}

.ql-formats {
  padding: 2px 2px 8px 2px;
}

/*** Editor ***/
#editor {
  box-sizing: border-box;
  height: -webkit-fill-available;
  border-right: none !important;
  border-bottom: none !important;
}
.ql-editor {  
  padding: 44px 52px;
  height: -webkit-fill-available;
  border: none !important;
}
.ql-editor h1,.ql-editor h2,.ql-editor h3,.ql-editor h4,.ql-editor h5  {
  max-width: 36ch;
}
.ql-editor p {
  max-width: 78ch; 
}

.ql-tooltip {
  z-index: 9999 !important;
}
.stat-span {
  display: inline-block;
  width: 202px;
  white-space: nowrap;
  padding: 3px 4px;
  margin-left: 6px;
  border: 1px solid rgb(202,202,202); 
}
.counter-stat {  
  font-size: 0.9em;
  padding: 2px;
  margin-right: 10px;  
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
}
.active {
  text-decoration: none;
}

/*** GOOGLE FONTS ***/

/* Set droplist names - -item is the currently selected font, -label is the font's appearance in the droplist*/
        
        .ql-snow .ql-picker.ql-font .ql-picker-label[data-value='sans-serif']::before,
        .ql-snow .ql-picker.ql-font .ql-picker-item[data-value='sans-serif']::before
        {
        content: 'Sans Serif';
        font-family: 'Sans Serif';
        }
        .ql-snow .ql-picker.ql-font .ql-picker-label[data-value='times-new-roman']::before,
        .ql-snow .ql-picker.ql-font .ql-picker-item[data-value='times-new-roman']::before
        {
        content: 'Times New Roman';
        font-family: 'Times New Roman';
        }
        .ql-snow .ql-picker.ql-font .ql-picker-label[data-value='arial']::before,
        .ql-snow .ql-picker.ql-font .ql-picker-item[data-value='arial']::before
        {
        content: 'Arial';
        font-family: 'Arial';
        }
        .ql-snow .ql-picker.ql-font .ql-picker-label[data-value='mirza']::before,
        .ql-snow .ql-picker.ql-font .ql-picker-item[data-value='mirza']::before
        {
        content: 'Mirza';
        font-family: 'Mirza';
        }          
        .ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Roboto']::before,
        .ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Roboto']::before
        {
        content: 'Roboto';
        font-family: 'Roboto';
        }
        .ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Aref-Ruqaa']::before,
        .ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Aref-Ruqaa']::before
        {
        content: 'Aref Ruqaa';
        font-family: 'Aref Ruqaa';
        }

        /****************************************************
        Set the font-family content used for the HTML content.
        *****************************************************/
        .ql-font-times-new-roman {
          font-family: 'Sans serif';
        }
        .ql-font-times-new-roman {
          font-family: 'Times New Roman';
        }
        .ql-font-arial {
          font-family: 'Arial';
        }        
        .ql-font-mirza {
          font-family: "Mirza";
        }        
        .ql-font-roboto {
          font-family: "Roboto";
        }
        .ql-font-aref-ruqaa {
          font-family: "Aref Ruqaa";
        }        
        

        /*
        .ql-font-noto-serif-jp {
        font-family: "Noto Serif JP";
        } 
        .ql-font-lobster {
          font-family: "Lobster";
        }       
        */

        /*** GOOGLE FONTS ***/
        #editor #toolbar-container .ql-container .ql-editor .ql-snow {
        font-family: "Sans serif";  
        }

        /* Set dropdown font-families */
        #toolbar-container .ql-font span[data-label="Roboto"]::before {
        font-family: "Roboto";
        }
        #toolbar-container .ql-font span[data-label="Mirza"]::before {
        font-family: "Mirza";
        }        
        #toolbar-container .ql-font span[data-label="Aref Ruqaa"]::before {
        font-family: "Aref Ruqaa";
        } 
        /*       
        #toolbar-container .ql-font span[data-label="Lobster"]::before {
        font-family: "Lobster";
        }        
        #toolbar-container .ql-font span[data-label="Noto Serif JP"]::before {
          font-family: "Noto Serif JP";
        }
        #toolbar-container .ql-font span[data-label="Lora"]::before {
        font-family: "Lora";
        }
        */
        
  
/*** MEDIA QUERIES ***/

@media screen and (max-width: 1226px) {
  .container-workfield {
    flex-basis: 52%;     
    flex-grow: 1;
  }    
}

@media screen and (min-width: 992px) and (max-width: 1099px) {
  
  #noteTitle {
    width: 46%;
  }  
}

@media screen and (min-width: 769px) and (max-width: 1099px) {

  .ql-editor {
    padding: 28px 72px 32px 72px;
  }
}

@media screen and (min-width: 769px) and (max-width: 991px) {  
  
  #noteTitle {
    width: 42%;
  }
  .note-title-top {
    margin-left: 4px;
  }
  .note-template-top {   
    margin: 12px 0 10px 10px;
  }  
  .ql-editor {
    padding: 32px 48px 32px 42px;    
  }
}


@media screen and (max-width: 768px) {
  
  .flex-container {
    flex-wrap: wrap;
    height: auto;     
  }  
  .container-workfield {
    width: auto;
    flex-grow: 1;
    flex-basis: 100%;
    height: 100%;
    margin: 0;
  }
  
  #logoShortVer {
    display: none;    
  }   
  #logoBrand {
    display: block;
    width: 100%;
    background-color:  rgb(46, 45, 45);   
    cursor: pointer;
  }  
  #logoBrand h1 {
    font-family: 'Libre Baskerville', serif;    
    color: rgba(255, 255, 255, 0.75);
    text-align: center;    
  }
  #logoBrand h1:hover {
    color: rgb(254,254,254);
  }

  #menuField {
    width: 100%;
    flex-basis: 100%;
  }  

  .menu-collapse {
    display: none;
  }
  .menu-burger {
    display: flex;
    justify-content: center;
  }
  .menu-toggler {
    display: block;
    background-color: transparent;
    cursor: pointer;
    padding: 0.2em 0.5em;
    font-size: 2em;
    line-height: 1;
    border: 1px solid transparent;
  }
  .nav-ul {
    margin-top: 20px;
  }
  .nav-ul li {
    text-align: center;
  }  

  #menuField {
    flex-grow: 1;
    flex-basis: 100%;
    height: auto;               
    overflow: hidden;
    padding: 10px;   
  }  

.note-container {   
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;  
  border-bottom: 2px solid rgb(202,202,202);
}

#searchHeadField {
  display: none;
}
#noteField {
  flex-basis: 100%;
}

.note-item {
  padding: 20px;
}

.note-item .note-created, .note-item .note-modified {    
  margin-bottom: 8px;
  font-size: 0.75em;
  color: rgb(209, 208, 208);  
}

/*
#searchHeadField {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 15px 10px 0 22px;
  margin: 0;
}
*/
/*
.note-container #noteSearch {  
  display: inline-flex;
  margin-right: 20px;
  padding-top: 0;
}*/

#noteSearch {
  margin: 14px auto 18px;
}

#searchInput {
  padding: 4px 2px;
  color:rgb(219, 215, 215);
  font-size: 1.3em;
  background: transparent;
  border: none;
}

  .img-notes, .icon-tags {
    display: none;
  }
  .note-field {
    overflow-x: auto;
  }
  
  
  /* TOP NOTE FIELD */
  .note-title-top, .note-tags-top, .note-template-top {        
    font-size: 1.20em;    
    padding: 8px 12px;
    border: none;   
    margin: 6px;
  }
  .note-title-top {
    display: block;
  } 
  .note-tags-top {
    display: flex;  
    flex-wrap: wrap;  
  }  
  .note-tags-top input {
    max-width: 112px;
  }
  .note-template-top {
    /* float: right; */    
    padding: 4px 10px;
    /*margin-left: 10px;*/
  }  
  #themeSelection {
    max-width: 120px;
    font-size: 0.85em;
    font-weight: 600;
    color: rgb(172,172,172);
    padding: 8px 6px;
    margin: 0 auto;
  } 

  /* Toolbar */
  .ql-toolbar.ql-snow {
    padding: 4px 2px !important;
   
  }
  /* Editor */
  .ql-editor {
    padding: 32px 42px 32px 36px;    
  }
}


@media screen and (min-width: 0px) and (max-width: 479px) {
  /*
  #newNote, #myNotes, #favNotes, #saveNote, #deleteNote, #printNote, #allTags  {
    display: block;
  }  
  #newNoteHd, #myNotesHd, #favNotesHd, #saveNoteHd, #deleteNoteHd, #printNoteHd, #allTagHd{
    display: none;    
  }
  */
  .note-template-top {
    float: none;
    margin: 14px 0 10px 10px;
  }
}

@media print{
  meta,
  #menuField,
  .note-container,
  .note-field-top,
  .note-tags-top,
  .note-template-top,
  .note-fav-container,
  .header-notes,
  .note-title-top,
  .ql-toolbar {
    display: none;
  }
  .ql-editor {
     margin: 5%; 
  } 
}

 
