#editor{
    height: 100px;
}
/*.ql-omega:after {
    content: "SAVE";
    
  }*/

  button {
      color:black !important;
      /*border: 1px solid black !important;*/
  }
  .ql-omega:after {
      content:"save";
      width: 30px !important;
  }